<div class="navbar-collapse collapse" id="navbar_global">
    <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto ">
        @*<li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link active nav-link-inner--text" })</li>
            <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { @class = "nav-link active nav-link-inner--text" })</li>
            <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-link active nav-link-inner--text" })</li>*@
        <li class="nav-item"><a href="#" class="nav-link active nav-link-inner--text">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link active nav-link-inner--text">About</a></li>
        <li class="nav-item"><a href="#" class="nav-link active nav-link-inner--text">Contact</a></li>
        @if (User.IsInRole("User"))
        {
<li class="nav-item">@Html.ActionLink("Booking", "SessionBooking", "Consultant", "Consultant", new { @class = "nav-link active nav-link-inner--text" })</li> }
            else
            {
            //<li class="nav-item">@Html.ActionLink("User Bookings", "UserBooking", "Consultant", "Consultant", new { @class = "nav-link active nav-link-inner--text" })</li>
            }
    </ul>
    @Html.Partial("_LoginPartial")
</div>
    