@model VideoCallConsultant.ViewModels.BookingViewModel


@if (ViewBag.Success != null)
{

<div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Success!</strong> @ViewBag.Success
</div>}


@if(ViewBag.ErrMessage != null)
{

<div class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Warning!</strong> @ViewBag.ErrMessage
</div>
}

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Book for <span id="bookingdate"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Booking", "Consultant", FormMethod.Post, new { @id = "myform" }))
                {
    @Html.AntiForgeryToken() @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                    <input type="hidden" name="BookingID" id="BookingID" value="" />





                                    <div class="form-group">
                                        @Html.LabelFor(m => m.FirstName)
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.LastName)
                                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                                                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                                    </div>
                                                                    <div class="form-group">
                                                                        @Html.LabelFor(m => m.Email)
                                                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        @Html.LabelFor(m => m.PhoneNumber)
                                                                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Phone Number" })
                                                                                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                                                                    </div>
                                                                                                    <div class="form-group owner">
                                                                                                        @Html.LabelFor(m => m.Owner)
                                                                                                        @Html.TextBoxFor(m => m.Owner, new { @class = "form-control", @placeholder = "Owner" })
                                                                                                        @Html.ValidationMessageFor(m => m.Owner, "", new { @class = "text-danger" })
                                                                                                    </div>
                                                                                                                    <div class="form-group CVV">
                                                                                                                        @Html.LabelFor(m => m.cvv)
                                                                                                                        @Html.TextBoxFor(m => m.cvv, new { @type = "number", @class = "form-control", @placeholder = "Cvv" })
                                                                                                                        @Html.ValidationMessageFor(m => m.cvv, "", new { @class = "text-danger" })
                                                                                                                    </div>
                                                                                                                                    <div class="form-group">
                                                                                                                                        @Html.LabelFor(m => m.Type)
                                                                                                                                        @Html.DropDownList("Type", new List<SelectListItem>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            {

               new SelectListItem{ Text="Visa", Value = "visa" },
               new SelectListItem{ Text="Mastercard", Value = "mastercard" },
               new SelectListItem{ Text="Amex", Value = "amex" },
               new SelectListItem{ Text="Discover", Value = "discover" },
               new SelectListItem{ Text="Maestro", Value = "maestro" },
                       })



                                                                                                                                    </div>




                                                                                                                                                    <div class="form-group">
                                                                                                                                                        @Html.LabelFor(m => m.CraditCardNumber)
                                                                                                                                                        @Html.TextBoxFor(m => m.CraditCardNumber, new { @class = "form-control", @placeholder = "CraditCardNumber" })
                                                                                                                                                        @Html.ValidationMessageFor(m => m.CraditCardNumber, "", new { @class = "text-danger" })
                                                                                                                                                    </div>
                                                                                                                                                                    <div class="form-group" id="card-number-field">
                                                                                                                                                                        @Html.LabelFor(m => m.ValidTillMonth)
                                                                                                                                                                        @Html.TextBoxFor(m => m.ValidTillMonth, new { @class = "form-control", @placeholder = "Enter in (mm) Format" })
                                                                                                                                                                        @Html.LabelFor(m => m.ValidTillYear)
                                                                                                                                                                        @Html.TextBoxFor(m => m.ValidTillYear, new { @class = "form-control", @placeholder = "Enter in (yyyy) Format" })
                                                                                                                                                                        @Html.ValidationMessageFor(m => m.ValidTillMonth, "", new { @class = "text-danger" })
                                                                                                                                                                        @Html.ValidationMessageFor(m => m.ValidTillYear, "", new { @class = "text-danger" })

                                                                                                                                                                    </div>
                                                                                                                                                                                    <div class="form-group" id="card-number-field">
                                                                                                                                                                                        @Html.HiddenFor(m => m.BookingHour, new { Value = "180", @class = "form-control" })
                                                                                                                                                                                        @Html.HiddenFor(m => m.date, new { @class = "form-control", @id = "Id3" })
                                                                                                                                                                                    </div>
                                                                                                                                                                                                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Cancel</button>
                                                                                                                                                                                                                    <input class="btn btn-global" type="submit" id="btnSave" value="Confirm Booking" />// </form>
                                                                                                                                                                                                                }

            </div>

        </div>
    </div>
</div>


<!-- profile section start -->
@Html.Partial("_Profile")
<!-- profile section end -->
<section class="ag-section mt-4 mb-5">
    <div class="container">
        <div class="middle-card calander ">
            <div class="row">
                <div class="col-md-4">
                    <h3><i class="fas fa-play"></i> Sessions Available </h3>
                </div>
                <div class="col-md-8 text-right pt-3">
                    <strong> Share now </strong>
                    <div class="social-icons">
                        <ul>
                            @*<li>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </li>*@
                            @*<li>
                                    <a href="https://twitter.com/intent/tweet"><i class="fab fa-twitter twitter-share-button"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-envelope"></i></a>
                                </li>*@
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->




                            <li class="addthis_inline_share_toolbox"></li>
                            @*<li class="sharethis-inline-share-buttons"></li>*@
                        </ul>
                    </div>
                </div>
            </div>
            <!-- tab section start -->
            <section id="tabs" class="project-tab mt-3">
                <div>
                    <div class="row">
                        <div class="col-md-12">

                            <nav class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                                    <div class="tab-title">Grooming Classes </div>
                                    <div class="tab-subtitle">3 Hour Webinar <span class="price">$290 </span></div>
                                    <span class="session-info"><i class="fas fa-info-circle"></i></span>
                                    <span class="session-edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</span>
                                </a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                                    <div class="tab-title title-free">Introductory Consultation</div>
                                    <div class="tab-subtitle">10 Minutes <span class="price">Free </span></div>
                                    <span class="session-info"><i class="fas fa-info-circle"></i></span>
                                    <span class="session-edit"><i class="fa fa-pencil" aria-hidden="true"> </i> Edit</span>
                                </a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                                    <div class="tab-title">One-on-On</div>
                                    <div class="tab-subtitle">60 minutes <span class="price">$50 </span></div>
                                    <span class="session-info"><i class="fas fa-info-circle"></i></span>
                                    <span class="session-edit"><i class="fa fa-pencil" aria-hidden="true"> </i> Edit</span>
                                </a>
                            </nav>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <div class="eventsTable table-responsive">
                                        <table class="table" id="ThreeHourWebinar">
                                            <thead>
                                                <tr class="header">
                                                    <th>
                                                        <span class="day">@DateTime.UtcNow.DayOfWeek</span>
                                                        <span class="date">@DateTime.Now.ToShortDateString()</span>
                                                    </th>
                                                    <th>
                                                        <span class="day">@DateTime.UtcNow.AddDays(1).DayOfWeek</span>
                                                        <span class="date">@DateTime.UtcNow.AddDays(1).ToShortDateString()</span>
                                                    </th>
                                                    <th>
                                                        <span class="day">@DateTime.UtcNow.AddDays(2).DayOfWeek</span>
                                                        <span class="date">@DateTime.UtcNow.AddDays(2).ToShortDateString()</span>
                                                    </th>
                                                    <th>
                                                        <span class="day">@DateTime.UtcNow.AddDays(3).DayOfWeek</span>
                                                        <span class="date">@DateTime.UtcNow.AddDays(3).ToShortDateString()</span>
                                                    </th>
                                                    <th>
                                                        <span class="day">@DateTime.UtcNow.AddDays(4).DayOfWeek</span>
                                                        <span class="date">@DateTime.UtcNow.AddDays(4).ToShortDateString()</span>
                                                    </th>
                                                    <th>
                                                        <span class="day">@DateTime.UtcNow.AddDays(5).DayOfWeek</span>
                                                        <span class="date">@DateTime.UtcNow.AddDays(5).ToShortDateString()</span>
                                                    </th>
                                                    <th>
                                                        <span class="day">@DateTime.UtcNow.AddDays(6).DayOfWeek</span>
                                                        <span class="date">@DateTime.UtcNow.AddDays(6).ToShortDateString()</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>


                                                @for (int i = 1; i < 15; i++)
                                                {
                                    <tr>
                                        @{ var ThreeHourWebiner = Model.ThreeHourWebiner.Where(x => x.UTCStartTime.ToShortDateString() == DateTime.UtcNow.ToShortDateString() && (x.UTCStartTime.Hour <= i && x.UTCEndTime.Hour >= i)).FirstOrDefault(); }

                                        @if (ThreeHourWebiner != null)
                                        {
                        <td class="Detail"><div class="badge orangeBg @("back_bg"+ThreeHourWebiner.ID) " data-toggle="modal" data-target="#exampleModal2">@i:00 AM</div></td>
 }
                    else
                    {
    <td></td>
}
                                        @{ var ThreeHourWebiner1 = Model.ThreeHourWebiner.Where(x => x.UTCStartTime.ToShortDateString() == DateTime.UtcNow.AddDays(1).ToShortDateString() && (x.UTCStartTime.Hour <= i && x.UTCEndTime.Hour >= i)).FirstOrDefault(); }
                                        @if (ThreeHourWebiner1 != null)
                                        {
                        <td class="Detail"><div class="badge orangeBg @("back_bg"+ThreeHourWebiner1.ID)" data-toggle="modal" data-target="#exampleModal2">@i:00 AM</div></td>
 }
                    else
                    {
    <td></td>
}
                                        @{ var ThreeHourWebiner2 = Model.ThreeHourWebiner.Where(x => x.UTCStartTime.ToShortDateString() == DateTime.UtcNow.AddDays(2).ToShortDateString() && (x.UTCStartTime.Hour <= i && x.UTCEndTime.Hour >= i)).FirstOrDefault(); }
                                        @if (ThreeHourWebiner2 != null)
                                        {
                        <td class="Detail"><div class="badge orangeBg @("back_bg"+ThreeHourWebiner2.ID)" data-toggle="modal" data-target="#exampleModal2">@i:00 AM</div></td>
 }
                    else
                    {
    <td></td>}

                                        @{ var ThreeHourWebiner3 = Model.ThreeHourWebiner.Where(x => x.UTCStartTime.ToShortDateString() == DateTime.UtcNow.AddDays(3).ToShortDateString() && (x.UTCStartTime.Hour <= i && x.UTCEndTime.Hour >= i)).FirstOrDefault(); }
                                        @if (ThreeHourWebiner3 != null)
                                        {
                        <td class="Detail"><div class="badge orangeBg @("back_bg"+ThreeHourWebiner3.ID)" data-toggle="modal" data-target="#exampleModal2">@i:00 AM</div></td>
 }
                    else
                    {
    <td></td>}
                                        @{ var ThreeHourWebiner4 = Model.ThreeHourWebiner.Where(x => x.UTCStartTime.ToShortDateString() == DateTime.UtcNow.AddDays(4).ToShortDateString() && (x.UTCStartTime.Hour <= i && x.UTCEndTime.Hour >= i)).FirstOrDefault(); }
                                        @if (ThreeHourWebiner4 != null)
                                        {
                        <td class="Detail"><div class="badge orangeBg @("back_bg"+ThreeHourWebiner4.ID)" data-toggle="modal" data-target="#exampleModal2">@i:00 AM</div></td>
 }
                    else
                    {
    <td></td>}
                                        @{ var ThreeHourWebiner5 = Model.ThreeHourWebiner.Where(x => x.UTCStartTime.ToShortDateString() == DateTime.UtcNow.AddDays(5).ToShortDateString() && (x.UTCStartTime.Hour <= i && x.UTCEndTime.Hour >= i)).FirstOrDefault(); }
                                        @if (ThreeHourWebiner5 != null)
                                        {
                        <td class="Detail"><div class="badge orangeBg @("back_bg"+ThreeHourWebiner5.ID)" data-toggle="modal" data-target="#exampleModal2">@i:00 AM</div></td>
 }
                    else
                    {
    <td></td>
}
                                        @{ var ThreeHourWebiner6 = Model.ThreeHourWebiner.Where(x => x.UTCStartTime.ToShortDateString() == DateTime.UtcNow.AddDays(6).ToShortDateString() && (x.UTCStartTime.Hour <= i && x.UTCEndTime.Hour >= i)).FirstOrDefault(); }
                                        @if (ThreeHourWebiner6 != null)
                                        {
                        <td class="Detail"><div class="badge orangeBg @("back_bg"+ThreeHourWebiner6.ID)" data-toggle="modal" data-target="#exampleModal2">@i:00 AM</div></td>
 }
                    else
                    {
    <td></td>
}

                                    </tr>
}

                                            </tbody>

                                        </table>

                                    </div>
                                </div>


                                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <div class="eventsTable table-responsive">
                                        <table class="table" id="oneHourWebinar">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <span class="day">@DateTime.UtcNow.DayOfWeek</span>
                                                        <span class="date">@DateTime.Now.ToShortDateString()</span>
                                                    </th>
                                                    <th>
                                                        <span class="day">@DateTime.UtcNow.AddDays(1).DayOfWeek</span>
                                                        <span class="date">@DateTime.UtcNow.AddDays(1).ToShortDateString()</span>
                                                    </th>
                                                    <th>
                                                        <span class="day">@DateTime.UtcNow.AddDays(2).DayOfWeek</span>
                                                        <span class="date">@DateTime.UtcNow.AddDays(2).ToShortDateString()</span>
                                                    </th>
                                                    <th>
                                                        <span class="day">@DateTime.UtcNow.AddDays(3).DayOfWeek</span>
                                                        <span class="date">@DateTime.UtcNow.AddDays(3).ToShortDateString()</span>
                                                    </th>
                                                    <th>
                                                        <span class="day">@DateTime.UtcNow.AddDays(4).DayOfWeek</span>
                                                        <span class="date">@DateTime.UtcNow.AddDays(4).ToShortDateString()</span>
                                                    </th>
                                                    <th>
                                                        <span class="day">@DateTime.UtcNow.AddDays(5).DayOfWeek</span>
                                                        <span class="date">@DateTime.UtcNow.AddDays(5).ToShortDateString()</span>
                                                    </th>
                                                    <th>
                                                        <span class="day">@DateTime.UtcNow.AddDays(6).DayOfWeek</span>
                                                        <span class="date">@DateTime.UtcNow.AddDays(6).ToShortDateString()</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 1; i < 15; i++)
                                                {
                                                    var OneHourWebiner1 = Model.OneHourWebiner.Where(x => x.UTCStartTime.ToShortDateString() == DateTime.UtcNow.ToShortDateString() && (x.UTCStartTime.Hour <= i && x.UTCEndTime.Hour >= i)).FirstOrDefault();

                                    <tr>
                                        @if (@OneHourWebiner1 != null)
                                        {
                        <td class="Detail"><div class="badge orangeBg @("back_bg" + OneHourWebiner1.ID)" data-toggle="modal" data-target="#exampleModal2">@i:00 AM</div></td>
 }
                    else
                    {
    <td></td>}
                                        @{ var OneHourWebiner2 = Model.OneHourWebiner.Where(x => x.UTCStartTime.ToShortDateString() == DateTime.UtcNow.AddDays(1).ToShortDateString() && (x.UTCStartTime.Hour <= i && x.UTCEndTime.Hour >= i)).FirstOrDefault();
                                        }

                                        @if (OneHourWebiner2 != null)
                                        {
                        <td class="Detail"><div class="badge orangeBg @("back_bg" + OneHourWebiner2.ID)" data-toggle="modal" data-target="#exampleModal2">@i:00 AM</div></td>
 }
                    else
                    {
    <td></td>}
                                        @{ var OneHourWebiner3 = Model.OneHourWebiner.Where(x => x.UTCStartTime.ToShortDateString() == DateTime.UtcNow.AddDays(2).ToShortDateString() && (x.UTCStartTime.Hour <= i && x.UTCEndTime.Hour >= i)).FirstOrDefault();
                                        }

                                        @if (OneHourWebiner3 != null)
                                        {
                        <td class="Detail"><div class="badge orangeBg @("back_bg" + OneHourWebiner3.ID)" data-toggle="modal" data-target="#exampleModal2">@i:00 AM</div></td>
 }
                    else
                    {
    <td></td>
}


                                        @{ var OneHourWebiner4 = Model.OneHourWebiner.Where(x => x.UTCStartTime.ToShortDateString() == DateTime.UtcNow.AddDays(3).ToShortDateString() && (x.UTCStartTime.Hour <= i && x.UTCEndTime.Hour >= i)).FirstOrDefault();
                                        }
                                        @if (OneHourWebiner4 != null)
                                        {
                        <td class="Detail"><div class="badge orangeBg @("back_bg" + OneHourWebiner4.ID)" data-toggle="modal" data-target="#exampleModal2">@i:00 AM</div></td>
 }
                    else
                    {
    <td></td>
}
                                        @{ var OneHourWebiner5 = Model.OneHourWebiner.Where(x => x.UTCStartTime.ToShortDateString() == DateTime.UtcNow.AddDays(4).ToShortDateString() && (x.UTCStartTime.Hour <= i && x.UTCEndTime.Hour >= i)).FirstOrDefault();
                                        }
                                        @if (OneHourWebiner5 != null)
                                        {
                        <td class="Detail"><div class="badge orangeBg @("back_bg" + OneHourWebiner5.ID)" data-toggle="modal" data-target="#exampleModal2">@i:00 AM</div></td>
 }
                    else
                    {
    <td></td>
}



                                        @{ var OneHourWebiner6 = Model.OneHourWebiner.Where(x => x.UTCStartTime.ToShortDateString() == DateTime.UtcNow.AddDays(5).ToShortDateString() && (x.UTCStartTime.Hour <= i && x.UTCEndTime.Hour >= i)).FirstOrDefault();
                                        }
                                        @if (OneHourWebiner6 != null)
                                        {
                        <td class="Detail"><div class="badge orangeBg @("back_bg" + OneHourWebiner6.ID)" data-toggle="modal" data-target="#exampleModal2">@i:00 AM</div></td> }
                                        else
                                        {
                        <td></td>
}
                                        @{ var OneHourWebiner7 = Model.OneHourWebiner.Where(x => x.UTCStartTime.ToShortDateString() == DateTime.UtcNow.AddDays(6).ToShortDateString() && (x.UTCStartTime.Hour <= i && x.UTCEndTime.Hour >= i)).FirstOrDefault();
                                        }
                                        @if (OneHourWebiner7 != null)
                                        {
                        <td class="Detail"><div class="badge orangeBg @("back_bg" + OneHourWebiner7.ID)" data-toggle="modal" data-target="#exampleModal2">@i:00 AM</div></td>
 }
                    else
                    {
    <td></td>}


                                    </tr>}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- tab section end -->
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</section>
<!----Jvascript file -->
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>

<script src="~/Content/js/bootstrap.min.js"></script>
<script>


    $(document).ready(function () {
        var bookingdate = $('#bookingdate').text();;
        $("body").on("submit", "#myform", function () {
            debugger
            $("#Id1").val(bookingdate);
            $("#Id3").val(bookingdate);
        });
        $('#ThreeHourWebinar').on('click', '.Detail', function () {
            var Time = $(this).text();
            var th = $('#ThreeHourWebinar th').eq($(this).index());
            var Date = th.text();
            var getcls = '.' + $(this).children().attr('class');
            var res = getcls.split(" ");
            var ID = res[2];

            $("#BookingID").val(ID.substring(7));
            $('#bookingdate').text("");
            var gettime = "";
            $("." + res[2]).each(function () {
                var fulldate = Date + ' ' + $(this).text() + ',';
                gettime += fulldate;
            });
            $('#bookingdate').text(gettime);
            bookingdate = $('#bookingdate').text();
        });

        function bookwebinar() {
            $('.ag-body-bg').remove();
            var PostBackURL = '/Consultant/AddBooking3Hour';
            var data = bookingdate;
            var model = { FirstName: "Shyju" };
            $.get(PostBackURL, { bookingdate: data, 'card': JSON.stringify({ model }) }, function (data) {
                $("#rData").html(data);
            });

            // window.location.href = "/paypal/ValidateCommand?" + $.param({ product: "3 Hour webinar",totalPrice: "290",quantity : "1",datetime: bookingdate });
            location.reload(true);
        }
        $('#oneHourWebinar').on('click', '.Detail', function () {
            var Time = $(this).text();
            var th = $('#oneHourWebinar th').eq($(this).index());
            var Date = th.text();
            var getcls = '.' + $(this).children().attr('class');
            var res = getcls.split(" ");
            var ID = res[2];

            $("#BookingID").val(ID.substring(7));

            $('#bookingdate').text("");
            $('#bookingdate').text(Date + ' ' + Time);
            bookingdate = $('#bookingdate').text();
        });

        function bookwebinar1Hour() {
            $('.ag-body-bg').remove();
            var PostBackURL = '/Consultant/AddBooking1Hour';
            $('#exampleModal1Hour').hide();
            $.get(PostBackURL, { datetime: bookingdate }, function (data) {
                $("#rData").html(data);
            });
            location.reload(true);
            // window.location.href = "/paypal/ValidateCommand?" + $.param({ product: "1 Hour webinar",totalPrice: "50",quantity : "1",datetime: bookingdate });
        }
    });
</script>
